 h1 {
                color:red;
                text-align: center;
            }
            
            div {
                font-family: Arial,Sans-Serif;
                color: black;
                text-align: left;
                font-style: italic;
                font-weight: bold;
                background-color: teal;
                margin: 30px;
                padding: 20px;
                border: 3px solid blue;
            }
            
            table{
                border: 3px solid blue;
                font-weight: bold;
                padding: 3px;
                border-collapse: collapse;
                
            }
            th,td{
                border: 1px solid blue;
                padding: 5px;
            }
        th{
            background: lightgray;
        }
